html, body {
    margin: 0px;
    background-color: #2f4f30;
    color: white;
}


.Titulo{
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px;
    font-size: 25px;
}

.carta{
    position: relative;
    left: 150px;
    width: 150px;
    margin-left: -75px;
}

#computadora-cartas, #jugador-cartas{
    height: 250px;

}